:root {
    --primary-color: #37847F; /* Hauptfarbe */
    --secondary-color: #000f4b; /* Schatten */
    --highlight-color: #EE7444; /* Highlight */
    --nature-color: #7B9E32; /* Nature */
    --icon-color: #ffffff; /* Icon */
}