:root {
  --primary-color: #f93b44; /* Hauptfarbe */
  --secondary-color: #262626; /* Schatten */
  --highlight-color: #f93b44; /* #EBE8E9; Highlight */
  --nature-color: #529900; /* Nature */
  --icon-color: #EBE8E9; /* Icon */
}